---
import { Image } from "astro:assets";

import me from "../assets/no_eyebags.png";
---

<section class="effect-001 min-h-screen w-full">
  <div
    class="flex min-h-screen grid-cols-3 flex-col justify-between p-4 pt-24 pb-12 sm:p-6 lg:grid lg:p-12 lg:pt-24"
  >
    <div class="flex flex-col justify-between">
      <div class="flex gap-x-4">
        <Image
          src={me}
          alt=""
          class="aspect-4/5 w-36 shrink-0 bg-zinc-200 object-cover object-top"
          loading="eager"
        />
        <div class="flex max-w-48 flex-col justify-end">
          <p class="text-xs text-zinc-400">Based in Sheboygan Falls, WI</p>
          <p class="mt-1 text-sm">
            Research and Development Engineer at Curt G. Joa.
          </p>
        </div>
      </div>
      <div class="hidden lg:block">
        <p class="text-xs text-zinc-400">email me:</p>
        <p>jcsmithf22@gmail.com</p>
      </div>
    </div>
    <div class="col-span-2 flex flex-col justify-end">
      <h1
        class="paragraph text-4xl/9 font-light tracking-wide text-black opacity-0 sm:text-5xl/11 md:text-5xl/12 lg:text-4xl/9 xl:text-6xl/14"
      >
        Hey there! I'm a Research and Development Engineer at Curt G. Joa in
        Sheboygan Falls, Wisconsin. Proficient in programming and mechanical
        design. Experienced in machine learning, machine automation, web
        development and data science.
      </h1>
    </div>
  </div>
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { wrapLinesInSpan } from "../js/lib/utils";

  gsap.registerPlugin(ScrollTrigger);

  function init() {
    const paragraph = document.querySelector<HTMLParagraphElement>(
      ".effect-001 .paragraph",
    )!;

    const { lines } = wrapLinesInSpan(paragraph);

    gsap.set(paragraph, {
      opacity: 1,
    });

    gsap.to(lines, {
      y: "0%",
      duration: 0.5,
      stagger: 0.1,
      ease: "power3.out",
    });

    gsap.to(lines, {
      yPercent: -150,
      stagger: 0.1,
      scrollTrigger: {
        trigger: paragraph,
        start: "clamp(top 25%)",
        end: "bottom 25%",
        scrub: 1,
      },
    });
  }

  document.addEventListener("DOMContentLoaded", () => {
    init();
  });
</script>
