---
import Button from "../components/ui/button.astro";
---

<section class="h-screen w-full">
  <div
    class="flex h-full grid-cols-3 flex-col justify-between p-4 pt-24 pb-12 sm:p-6 lg:grid lg:p-12 lg:pt-24"
  >
    <div class="flex flex-col justify-between">
      <div class="flex gap-x-4">
        <div class="aspect-4/5 w-36 shrink-0 bg-zinc-200"></div>
        <div class="flex max-w-48 flex-col justify-end">
          <p class="text-xs text-zinc-400">Based in Sheboygan Falls, WI</p>
          <p class="mt-1 text-xs">
            Dynamic, results-focused Multidisciplinary Designer & Art Director
            with over 6 years of experience.
          </p>
        </div>
      </div>
      <div class="hidden lg:block">
        <p class="text-xs text-zinc-400">email me:</p>
        <p>jcsmithf22@gmail.com</p>
      </div>
    </div>
    <div class="col-span-2 flex flex-col justify-end">
      <p
        class="paragraph text-4xl/9 font-light tracking-wide opacity-0 sm:text-5xl/11 md:text-5xl/12 lg:text-4xl/9 xl:text-6xl/14"
      >
        Hey there! I'm a Multidisciplinary Designer & Art Director with over 6
        years of extensive experience. Expert in blending skills across UI/UX
        design, graphic design, motion and brand development to deliver cohesive
        and innovative design solutions.
      </p>
    </div>
  </div>
</section>

<section class="h-screen">
  <div class="pt-50">
    <p>Hi</p>
  </div>
</section>

<script>
  import Lenis from "lenis";
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { wrapLinesInSpan } from "../js/lib/utils";

  gsap.registerPlugin(ScrollTrigger);

  function init() {
    /* LENIS SMOOTH SCROLL (OPTIONAL) */
    new Lenis({
      autoRaf: true,
    });
    /* LINIS SMOOTH SCROLL (OPTIONAL) */

    const paragraph =
      document.querySelector<HTMLParagraphElement>(".paragraph");

    if (!paragraph) return;

    const lines = wrapLinesInSpan(paragraph);

    gsap.set(paragraph, {
      opacity: 1,
    });

    gsap.to(lines, {
      y: "0%", // Appearance of words from paragraphs[index+1]
      duration: 0.5,
      stagger: 0.1,
      ease: "power3.out",
    });

    // lines.forEach((lineWords) => {
    //   gsap.to(lineWords, {
    //     x: 0, // Animate the 'x' property to 0
    //     delay: Math.random(),
    //     stagger: 0.2, // Stagger the animation of each element by 0.2
    //     ease: "power1.inOut",
    //     // scrollTrigger: {
    //     //   trigger: ".mwg_effect004", // Element that triggers the animation
    //     //   start: "top top", // Start the animation when the top of the trigger hits the top of the viewport
    //     //   end: "bottom bottom", // End the animation when the bottom of the trigger hits the bottom of the viewport
    //     //   scrub: true, // Scrub the animation based on scroll position
    //     // },
    //   });
    // });
  }

  document.addEventListener("DOMContentLoaded", () => {
    init();
  });
</script>
