---
import Navigation from "../components/ui/navigation.astro";
import "../styles/global.css";
// import "@fontsource/manrope";
import "@fontsource-variable/inter";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <script src="../js/index.ts"></script>
  </head>
  <body class="bg-zinc-50 font-light text-zinc-800">
    <Navigation />
    <slot />
    <div class="overlay pointer-events-none fixed inset-0 z-1000"></div>
  </body>
</html>

<style>
  .overlay {
    background-size: 109px;
    background-image: url("../assets/noise.png");
    opacity: 0.06;
  }
</style>

<script>
  import Lenis from "lenis";
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  function init() {
    // Initialize a new Lenis instance for smooth scrolling
    const lenis = new Lenis();

    // Synchronize Lenis scrolling with GSAP's ScrollTrigger plugin
    lenis.on("scroll", ScrollTrigger.update);

    // Add Lenis's requestAnimationFrame (raf) method to GSAP's ticker
    // This ensures Lenis's smooth scroll animation updates on each GSAP tick
    gsap.ticker.add((time) => {
      lenis.raf(time * 1000); // Convert time from seconds to milliseconds
    });

    // Disable lag smoothing in GSAP to prevent any delay in scroll animations
    gsap.ticker.lagSmoothing(0);
  }

  document.addEventListener("DOMContentLoaded", () => {
    init();
  });
</script>
