<button
  data-controller="button"
  data-action="mouseenter->button#hover"
  class="h-10 min-w-20 cursor-pointer bg-black px-3 text-sm text-white"
>
  <span
    class="pointer-events-none block overflow-hidden leading-tight"
    data-button-target="text"
  >
    <slot />
  </span>
</button>
