---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {}

const { class: classes, ...attrs } = Astro.props;
---

<a
  data-controller="button"
  data-action="mouseenter->button#hover"
  class="inline-block cursor-pointer text-zinc-900"
  {...attrs}
>
  <span
    class="pointer-events-none block overflow-hidden leading-tight"
    data-button-target="text"
  >
    <slot />
  </span>
</a>
