<navbar class="fixed inset-x-0 top-0 z-100">
  <div
    class="h-20 bg-transparent px-4 backdrop-blur-md sm:px-6 lg:px-12"
    style="mask: linear-gradient(rgb(0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);"
  >
    <div class="flex h-full items-center gap-x-16 text-sm">
      <a href="">Josiah Smith</a>
      <a href="">Works</a>
      <a href="">About</a>
      <a href="">Blog</a>
    </div>
  </div>
</navbar>
